<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
    <div class="container mt-4">
        <h1><%= myblog.title %></h1>
        <img src = <%= myblog.coverImageUrl %> width = "500vh">
        <pre class = 'mt-3' style = "max-width: 100%; white-space:pre-wrap; word-wrap:break-word"><%= myblog.body %></pre>

    </div>
    <div class="container mt-4">
        <img src = "/uploads/defaultavtar.jpg" width = "100px">
        <%= myblog.createdBy.fullname%>
    </div>
    <hr>
    <div class="container mt-4">
        <h1>Comments(<%= mycomment.length %>)</h1>
    <% if(locals.user){%>
        <form method = 'post' action = '/blog/comment/<%= myblog._id%>'>
            <div class="container my-3">
                <div class="mb-3">
                    <textarea placeholder="Enter your comment" class="form-control"  name = 'content' ></textarea>
                  </div>
                  <div class="mb-3">
                    <button class = 'btn btn-sm btn-primary' type = 'submit'>Add</button>
                  </div>
                  <% } %>
                  <% mycomment.forEach(comment => { %>
                 <div><b><%= comment.createdBy.fullname %></b></div>
                 
<p><%= comment.content %></p>
<br>
                  <% }) %>
    </div>
    
    <%- include('./partials/scripts.ejs') %>
</body>

</html>